:root {
    --gunmetal: #30343fff;
    --champagne-pink: #eddcd2ff;
    --linen: #fff1e6ff;
    --isabelline: #f0efebff;
    --champagne-pink-2: #eeddd3ff;
    --platinum: #edede8ff;
}

body {
    background-color: linen;
}

.navbar-light {
    background-color: var(--champagne-pink);
}

.container-fluid .navbar-brand {
    color: var(--gunmetal);
    font-weight: bold;
}

.navbar-expand {
    width: fit-content;
    margin: 0 auto;
}

.container-fluid {
    width: 90%;
    margin: 0 auto;
}

.navbar-nav {
    text-align: right;
    margin-left: auto;
}

.nav-item {
    margin-right: 20px;
}

.nav-item .nav-link {
    color: #457b9d;
}

.container-home {
    background-color: linen;
    min-height: 94vh;
    margin: auto 0;
}

#_openingPara {
    padding-top: 13vh;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.image-box {
    text-align: right;
}

.image-box img {
    height: 400px;
}

#_openingPara .text-box {
    padding: 5px 0 20px 3%;
    /* padding: 0; */
}

.rytMargin {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid black;
}

#_greet {
    font-size: 18px;
}

.text-box #name {
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 40px;
}

.text-box h2 {
    font-size: 25px;
}

.text-box p {
    margin-right: 10%px;
    max-width: 511px;
}

.text-box a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    background-color: #457b9d;
    padding: 9px 50px;
    padding-bottom: 13px;
    border-radius: 50px;
}

.columnHeading {
    width: fit-content;
    margin: 0 auto;
    background-color: linen;
    position: relative;
    top: 18px;
    padding: 0 20px;
}

#_servicesCardRow .col-6 .card {
    margin-top: 18vh;
}

#_servicesCardRow {
    width: fit-content;
    margin: 0 auto;
}

.small-page-line-break {
    display: none;
}

.borders {
    border-top: solid 1px black;
    padding-top: 50px;
    margin: 0 auto;
    width: 90%;
}

.cardContainer {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3%;
}

.card {
    width: fit-content;
    margin: 0 auto;
}

.container-skills {
    width: auto;
    min-width: 600px;
    display: grid;
    grid-template-columns: 350px 350px;
    grid-gap: 80px;
    margin-left: 40px;
}

.skillColumn {
    font-family: 'Times New Roman', Times, serif;
}

.skillColumn .skillHead {
    margin-top: 20px;
}

.container-pp {
    width: 90%;
    margin: 50px auto;
    max-width: 1120px;
}

.container-pp h2 {
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 1015px) {
    .cardContainer {
        display: block;
        width: 90%;
        margin: 0 auto;
        column-gap: 20px;
    }
    .cardColumn {
        margin: 20px auto;
    }
}

@media only screen and (max-width: 820px) {
    .container-home {
        min-height: max-content;
        min-height: 100vh;
    }
    #_openingPara {
        margin: 0;
        width: 100%;
        display: flex;
        padding: 0;
    }
    .image-box {
        text-align: center;
    }
    .image-box img {
        display: none;
    }
    .image-box {
        background-image: url(./20220103_084307.jpg);
        height: 40vh;
        width: 90%;
        max-width: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 80% 60%;
        margin: 20px auto;
    }
    .text-box a {
        text-decoration: none;
        color: white;
        font-size: 17px;
        background-color: #457b9d;
    }
    #_greet {
        font-size: 15px;
    }
    .text-box #name {
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 20px;
    }
    .text-box #name br {
        display: none;
    }
    .text-box h2 {
        font-size: 15px;
    }
    .text-box p {
        margin-right: 10%;
    }
    .borders {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .card {
        margin: 0 auto;
    }
    .cardContainer {
        width: 100%
    }
    .container-skills {
        margin: 0 auto;
        width: fit-content;
        min-width: 500px;
        display: grid;
        grid-template-columns: 250px 250px;
        grid-gap: 30px;
    }
    .skillColumn .skillHead {
        margin-top: 20px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 630px) {
    .container-skills * {
        width: fit-content;
    }
    .container-skills {
        display: table-row;
        width: 300px;
        margin: 0 auto;
    }
    .skillColumn {
        font-family: 'Times New Roman', Times, serif;
        /* max-width: 350px; */
        padding: 0 25px;
    }
    .skillColumn .skillHead {
        margin-top: 20px;
        font-size: 25px;
    }
}

.footer-basic {
    padding: 40px 0;
    background-color: black;
    color: white;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}