.navbar-light {
    background-color: #f1faee;
}

.container-fluid .navbar-brand {
    color: #1d3557;
    font-weight: bold;
}

.navbar-expand {
    width: fit-content;
    margin: 0 auto;
}

.container-fluid {
    width: 90%;
    margin: 0 auto;
}

.navbar-nav {
    text-align: right;
    margin-left: auto;
}

.nav-item {
    margin-right: 20px;
}

.nav-item .nav-link {
    color: #457b9d;
}

.container-home {
    background-color: rgb(255, 255, 255);
    height: 92vh;
    margin: auto 0;
}

#_openingPara {
    margin-top: 15vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.image-box {
    text-align: right;
}

.image-box img {
    height: 400px;
}

#_openingPara .text-box {
    border-left: 1px solid black;
    padding: 5px 0 20px 20px;
    /* padding: 0; */
}

.text-box h1 span {
    font-weight: bolder;
    color: #e63946;
    /* margin-right: 40px; */
}

#_greet {
    font-size: 20px;
}

.text-box h1 {
    font-size: 45px;
}

.text-box h2 {
    font-size: 25px;
}

.text-box p {
    margin-right: 30px;
}

.text-box a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    background-color: #457b9d;
    padding: 9px 50px;
    padding-bottom: 13px;
    border-radius: 50px;
}

#_servicesCardRow .col-6 .card {
    margin-top: 18vh;
}

#_servicesCardRow {
    width: fit-content;
    margin: 0 auto;
}

.small-page-line-break {
    display: none;
}

@media only screen and (max-width: 930px) {}

@media only screen and (max-width: 700px) {
    #_openingPara {
        margin: 0;
        width: 100%;
        display: flex;
        margin-top: 7vh;
    }
    .image-box {
        text-align: center;
    }
    .image-box img {
        display: none;
    }
    .image-box {
        background-image: url(./20220103_084307.jpg);
        height: 200px;
        width: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 80%;
        margin: 20px auto;
        border-radius: 50%;
    }
    .text-box {
        margin-top: 30px;
    }
    .text-box a {
        text-decoration: none;
        color: white;
        font-size: 17px;
        background-color: #457b9d;
        padding: 9px 50px;
        padding-bottom: 13px;
        border-radius: 50px;
    }
    .text-box h1 {
        font-size: 30px;
    }
    .text-box h2 {
        font-size: 20px;
    }
    .text-box p {
        margin-right: 30px;
    }
}